:global(.mouse) .pointerIndicator {
  background: red;
}

:global(.touch) .pointerIndicator {
  background: blue;
}

:global(.pen) .pointerIndicator {
  background: green;
}

.matchIndicator {
  background: red;
}

:global(:is(.touch, .pen)) .matchIndicator {
  background: green;
}
