:global(.mouse) .pointerIndicator {
  background: red;
}

:global(.touch) .pointerIndicator {
  background: blue;
}

:global(.pen) .pointerIndicator {
  background: green;
}

.matchIndicator {
  background: red;
}

:global(.nohover) .matchIndicator {
  background: green;
}
